<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Plugger", root_path, class: "navbar-brand" %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class='new-story-button'><%= link_to "Write a story", new_post_path, class: "button"%></li>
        <% if user_signed_in? %>
          <li class='current-user-avatar'><%= link_to(avatar_for(current_user, size: 36), current_user) %></li>
          <li class='sign-in-up-button'><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button" %></li>
        <% else %>
          <li class='sign-in-up-button'><%= link_to "Sign in / Sign up", new_user_session_path, class: "button" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
